In [6]:
import pandas as pd
import numpy as np
import datetime
import plotly.express as px
import math
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
import statistics
import math
import matplotlib.image as image
from PIL import Image
import matplotlib.animation

%matplotlib notebook

In [8]:
dire = int(input("Enter the directory of the data: "))
file = int(input("Enter the name of the file: "))
csvdire=r'~/Documents/untitled folder/Documents/SimData/train/{}/SimpleTest/{}.csv'.format(dire, file)
df = pd.read_csv(csvdire, sep=',')

In [14]:
df

                    X           Y   Pressure   TiltX   TiltY           Time
0    679.023443815683  568.591292   0.190661  3183.0 -1164.0  00:01.4930520
1    678.022866381799  568.959926   0.202380  3183.0 -1164.0  00:01.5087517
2    677.022288947915  569.117912   0.315908  3183.0 -1164.0  00:01.5244452
3    676.285021365054  568.538630   0.464836  3183.0 -1164.0  00:01.5399147
4    675.705739692805  565.852870   0.487297  3183.0 -1164.0  00:01.5580646
..                ...         ...        ...     ...     ...            ...
138  655.272895253494  581.388151   0.830564  2612.0 -1334.0  00:02.9756727
139  654.746275551449  581.230165   0.815183  2612.0 -1334.0  00:02.9912477
140  654.535627670632  581.124841   0.779538  2612.0 -1334.0  00:03.0068742
141  654.535627670632  581.124841   0.754147  2612.0 -1334.0  00:03.0068742
142  654.693613581245  580.598222   0.666499  2612.0 -1334.0  00:03.0225483

[143 rows x 6 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          143 non-null    object
 1    Y         143 non-null    float64
 2    Pressure  143 non-null    float64
 3    TiltX     143 non-null    float64
 4    TiltY     143 non-null    float64
 5    Time      143 non-null    object
dtypes: float64(4), object(2)
memory usage: 6.8+ KB

In [11]:

timestamps = df.iloc[-2:]
df = df.iloc[:-2]

df

                    X           Y   Pressure   TiltX   TiltY           Time
0    679.023443815683  568.591292   0.190661  3183.0 -1164.0  00:01.4930520
1    678.022866381799  568.959926   0.202380  3183.0 -1164.0  00:01.5087517
2    677.022288947915  569.117912   0.315908  3183.0 -1164.0  00:01.5244452
3    676.285021365054  568.538630   0.464836  3183.0 -1164.0  00:01.5399147
4    675.705739692805  565.852870   0.487297  3183.0 -1164.0  00:01.5580646
..                ...         ...        ...     ...     ...            ...
138  655.272895253494  581.388151   0.830564  2612.0 -1334.0  00:02.9756727
139  654.746275551449  581.230165   0.815183  2612.0 -1334.0  00:02.9912477
140  654.535627670632  581.124841   0.779538  2612.0 -1334.0  00:03.0068742
141  654.535627670632  581.124841   0.754147  2612.0 -1334.0  00:03.0068742
142  654.693613581245  580.598222   0.666499  2612.0 -1334.0  00:03.0225483

[143 rows x 6 columns]

In [ ]:
df['X'] = df['X'].astype('float64')
df.info